services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  postgres:
    image: postgres:16
    container_name : postgres
    restart: always
    environment: 
      DB_HOST: 'postgres'
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: pipeline_data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/api/init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    depends_on:
      - redis
  
  worker:
    build: ./backend
    command: python -u -m worker.main
    env_file:
      - ./backend/.env
    depends_on:
      - redis
  
  websocket:
    build: ./backend
    command: python -u -m ws.main
    env_file:
      - ./backend/.env
    ports:
      - "8001:8000"
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: Development
    container_name: frontend-app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - app-network

  
volumes:
  redis_data:
  postgres_data:

networks:
  app-network:
    driver: bridge